.main-recommended {
    @include flex;
    padding: 70px 0 90px 0;
    width: 1150px;

    &__block {
        width: 980px;
    }
}

.main-recommended-top {
    display: flex;
    justify-content: space-between;
    
    &__title {
        font-size: 30px;
        padding-bottom: 40px;
    }

    &__arowws {
        display: flex;    
        cursor: pointer;
    }
    
    &__aroww-icon {
        @include flex;
        color: #c4c4c4;
        width: 40px;
        height: 30px;
        border: 1px solid #c4c4c4;
    }
    
    &__aroww-icon_right {
        color: rgb(59, 59, 59);
    }
    
    &__aroww-icon_right:hover {
        color: red;
    }
}

.main-recommended-list {
    display: flex;
    justify-content: space-between;
    width: 980px;
}

.main-recommended-movie {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% / 4);
    margin-right: 20px;

    &__link {
        display: flex;
        flex-direction: column;      
    }
    
    &__img-bgd1 {
        background: url('../img/top_gan_2.webp');
    }

    &__img-bgd2 {
        background: url('../img/dni_gromu.webp');
    }

    &__img-bgd3 {
        background: url('../img/misiya_nemozhliva.jpg');
    }

    &__img-bgd4 {
        background: url('../img/dzhek_richer.jpg');
    }
    
    &__black-bgd {
        @include flex;
        flex-direction: column;
        height: 320px;
        width: 100%;
        color: transparent;
    }
    
    &__play-icon {
        @include flex;    
        color: transparent;
    }
    
    &__play {
        color: transparent;
    }
    
    &__title {
        font-size: 15px;
        padding: 10px 0 3px 0;
    }
    
    &__link:hover &__black-bgd {
        background: rgba(0, 0, 0, 0.577);
        height: 320px;
        width: 100%;
    }
    
    &__link:hover &__play-icon,
    &__link:hover &__play {
        color: white;
    }
    
    &__link:hover &__title {
        color: red;
    }
    
    &__year {
         font-size: 12px;   
    }
    
    &__buy {
        padding-top: 10px;
        color: #00b2b2;
        font-size: 12px;
    }
}

.img-size {
    height: 320px;
    width: 100%;
    background-size: cover;
}